@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Office Inventory</h1>
    <p>Stand alone office inventory Web Apps with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
    <img src="https://cdn.theatlantic.com/thumbor/ApjKEB47YbmSsDJRLpnEMRNBN94=/0x1500:4656x4121/720x405/media/img/mt/2020/05/LON72718/original.jpg" alt="Office" />
</div>
 